div {
    display: inline-block;
}

.div1 {
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color: #0000ff;
    transition:
        background-color 0.5s ease-out 1s,
        width 1s ease-in 0.2s;

    &.marked {
        width: 300px;
    }
}

.div2 {
    width: 150px;
    height: 75px;
    background-color: #00ff00;
}

.animate {
    animation: moved 4s ease-out forwards;
}

@keyframes moved {
    0% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
    15% {
        transform: translateX(300px) scale(1.2);
    }
    75% {
        transform: translateX(400px) scale(1);
        opacity: 0.3
    }
    100% {
        transform: translateX(400px) scale(1);
        opacity: 0.1
    }
}
